.content-header {
    width: 68vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .content-table {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .content-table table {
    width: 68vw;
    overflow: auto;
    box-shadow: 4px 4px 50px 0px #00000026;
    border-collapse: collapse;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #7A7786;
  }
  
  .content-table table th {
    background-color: #F9F9F9;
    padding: 2vh;
  }
  
  .linha-par {
    background-color: #F0F9FF;
  }
  
  .linha-impar {
    background-color: #FFFFFF;
  }
  
  .button-pg{
    background-color: #224864;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 10rem;
  }

#resolvendoProblema{
    text-decoration: none;
}

#searchbar{
  width: 352px;
  height: 40px;
  border: #0000001e solid 1.5px;
  border-radius: 8px;
  padding-left: 0.5rem;
}

#searchbar::placeholder{
    color: #00000026;
}

input[type="checkbox"] {
  appearance: none; /* Remove o estilo padrão */
  width: 20px;
  height: 20px;
  border: none;
  background-color: red;
  border-radius: 50%; /* Para cantos arredondados */
  /* position: relative; */
  cursor: pointer;
}

/* Estilo quando o checkbox está marcado */
input[type="checkbox"]:checked {
  background-color: #28a745; /* Cor de fundo */
  border-color: #28a745; /* Cor da borda */
}
